<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'main/css/profile_style.css' %}" media="screen" title="no title" charset="utf-8">
		<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<img class="logo" src="{% static 'main/img/lovfit(small).png' %}">
			</div>
			<div id="sidebar">
				<h1 id="profile_name"> Hello, {{ athlete.firstname }}</h1>
				<a href="/show_profile/{{request.session.id}}"><img id="profilePic" src="{{ athlete.profile }}" alt="Check out your profile"></a>
				<h3>Located in {{ athlete.city }} {{ athlete.state }}</h3>
				<p></p>
				<p><a href="/logout/">	<img class="logout" src="{% static 'main/img/logout.ico' %}"></a></p>
			</div>
			<div id="content">
				<h2>Sports News</h2>
				{% for activity in activities %}
					<div class="activity">
						<table>
							<tr>
								<td rowspan="2"><img class="profilePicc" src="{{ activity.athlete.profile }}"></td>
								<td class="activity_name" colspan="3">{{ activity.name }}</td>
							</tr>
							<tr>
								<td>Distance: {{ activity.distance }}mi</td>
								<td>Elevation Gain: {{ activity.total_elevation_gain }}ft</td>
								<td>Total Time: {{ activity.elapsed_time }}</td>
							</tr>
							<tr>
								<td><a class="profileLink" href="/show_profile/{{ activity.athlete.uid }}">{{ activity.athlete.first_name }}</a></td>
								<td>Average Speed: {{ activity.average_speed }}mph</td>
								<td>Max Speed: {{ activity.max_speed }}mph</td>
								<td class="start">{{ activity.start_date_local }}</td>
							</tr>
						</table>
						<div id="photos">
							{% for photo in activity.photos %}
								<img class="act_pic" src="{{ photo }}">
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
