<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
        {% load static %}
		<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<div id="wrapper">
		<h1>Hello, {{ athlete.firstname }}</h1>
		<img src="{{ athlete.profile }}">
		<h3>{{athlete.city}} {{athlete.state}} {{athlete.country}}</h3>
		<button type="button" onclick="location.href='/logout/'">logout</button>
		<h2>Sports News</h2>
		{% if activities %}
			{% for item in activities %}
				<img src="{{ item.athlete.profile }}">
				<p><a href="/show_profile/{{ item.athlete.uid }}">{{ item.athlete.first_name }}</a> did a {{ item.name }} for {{ item.distance }}mi at {{ item.start_date_local }}</p>
				<ul>
					<li>Average Speed: {{ item.average_speed }}mph</li>
					<li>Max Speed: {{ item.max_speed }}mph</li>
					<li>Total Elevation Gain: {{ item.total_elevation_gain }}ft</li>
					<li>Total Time: {{ item.elapsed_time }}</li>
				</ul>
				{% for photo in item.photos %}
					<img src="{{ photo }}">
				{% endfor %}
			{% endfor %}
		{% endif %}
		</div>
	</body>
</html>
