<!DOCTYPE html>
<html>
<head>
	<title>You Got Match!</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'main/css/match_style.css' %}" media="screen" title="no title" charset="utf-8">

	<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

	<script type="text/javascript">
		$(function() {
	$('h1').animate({fontSize: '30px'});
    $('#logo').animate({ height: '155px', width: '500px' }, 400, 'linear');
    $('#match').animate({ height: '530px', width: '530px' }, 400, 'linear');
    $('.profile').animate({ height: '200px', width: '200px' }, 400, 'linear');

});

	</script>

</head>
<body>

<div id="match">

<h1> You and {{match.first_name}} got <img id="logo" src="{% static 'main/img/lovfit(small).png' %}">
<a href="/show_profile/{{user.id}}">
<img class="profile" src="{{user.STRA_pic}}" alt="{{user.first_name}}"></a>
<!-- <img id="heart" src="{% static 'main/img/heart.png' %}">
 --><a href="/show_profile/{{match.id}}">
<img class="profile" src="{{match.STRA_pic}}" alt="{{match.first_name}}"></a>
</div>

</body>

</html>