<!DOCTYPE html>
<html>
<head>
	<title></title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'main/css/profile_style.css' %}" media="screen" title="no title" charset="utf-8">

	<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

</head>
<body>
<div id="container">
<div id="header">
<img class="logo" src="{% static 'main/img/lovfit(small).png' %}">

</div>

<div id="sidebar">
<h1 id="profile_name">{{athlete.firstname}} {{athlete.lastname}}</h1>

<img id="profilePic" src={{athlete.profile}}>
<h3>Located in {{athlete.city}} {{athlete.state}}</h3>

<p>Last active on strava : <br>{{athlete.updated_at}}</p>



{% if otherUser %}
	{% if like %}
		<h2> Liked </h2>
	{% else %}
		{% if match %}
			<h2> Matched </h2>
		{% else %}
			<a href="/like/{{id}}"><img id="heart" src="{% static 'main/img/heart.png' %}"></a>
		{% endif %}
	{% endif %}
{% endif %}

<p></p>
</div>

<div id="content">
	<h2>Latest 10 records for {{athlete.firstname}}</h2>
	<hr>
	
	{%for activity in activities%}
	<div class="activity">
		<h4>{{activity.name}}</h4>
<!-- 		<label>{{ activity.location_city}} , {{activity.location_state}}</label>
 -->		<ul>
 			<li><div class="{{activity.type}}"></div></li>
			<li>Distance: {{activity.distance}}</li>
			<li>Elapsed Time: {{activity.elapsed_time}}</li>
			<li>Elevation: {{activity.total_elevation_gain}}</li>
			<li>Date: {{activity.start_date_local}}</li>
			</ul>
		{% for photo in activity.photos %}
			<img class="act_pic" src="{{ photo }}">
		{% endfor %}
	</div>
	{%endfor%}
</div>

</div>

</body>
</html>