body{ 
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#content{
	display: block;
	text-align: center;
	background-color: #1aa9b1;
	opacity: 0.6;
	padding:30px;
	margin:auto;
	border-radius:50%;
	width:400px;
	height:400px;
	margin-top: 10%;

}

#content:hover{
	opacity:0.8;
}

*{
	font-family: sans-serif;
	color: #333333;
	box-sizing:border-box;
	font-size: 16px;
}

.fb-login-button{
	text-align: center;
	margin: 0 auto;
	padding-left: 50px;
}

img{
	width:100%;
	display: block;
	margin:auto;
	border-radius:10px;
}
