@media only screen and (max-width: 480px) {
body{ 
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}


@media only screen and (min-width: 481px) {
body{ 
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}
@media only screen and (min-height: 958px) {
body{ 
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
}
@media only screen and (min-width: 1500px) {
body{ 
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
}


#content{
	display: block;
	text-align: center;
	background-color: #1aa9b1;
	opacity: 0.6;
	padding:30px;
	margin:auto;
	border-radius:50%;
	width:380px;
	height:380px;
	margin-top: 10%;

}

#content:hover{
	opacity:0.8;
}

*{
	font-family: sans-serif;
	color: #333333;
	box-sizing:border-box;
	font-size: 16px;
}

.fb-login-button{
	text-align: center;
	margin: 0 auto;
	padding-left: 50px;
}

img{
	width:100%;
	display: block;
	margin:auto;
	border-radius:10px;
}
