
*{
	font-family: sans-serif;
	color: #333333;
	box-sizing:border-box;
	font-size: 16px;
}

#container{
	background-color: #1aa9b1;
	width: 90%;
	margin: 0 auto;
	border-radius: 20px;
	padding: 20px;
}

#sidebar, #content{
	display: inline-block;
}

#sidebar{
	vertical-align: top;
	width:20%;
	text-align: center;
}

#content{
	background-color: #ddd;
	width:75%;
	padding:3%;
	opacity: 0.85;
	margin-top:1%;
}

#profilePic{
	border-radius:50%;
}

#header{
	height:10%;
}

.logo{
	display: block;
	margin:auto;
	height:100%;
}

#profile_name{
	font-size: 30px;
	color:white;

}

.activity:hover{
	opacity:0.8;
}

.activity{
	opacity:0.65;
	border-radius: 20px;
	background-color: white;
	padding:5px;
	margin-bottom: 20px;

}

h2{
	font-size: 30px;
	font-family: 'Calibri', sans-serif;
}



#heart{
	width:50px;
	opacity:0.65;
}

#heart:hover{
	opacity:1;
}

table {
	width: calc(100% - 40px);
	margin: 10px 20px;
	border-collapse: collapse;
}

tr {
	height: 40px;
}

td {
	padding: 3px 6px;
}

.activity_name {
	font-weight: bold;
	text-align: center;
}

.Ride, .Run, .Hike {
	width: 80px;
	height: 80px;
	background-size: 100%;
	margin-left: 10px;
}

.Ride{
	background-image: url('../img/bike.ico');
}

.Run{
	background-image: url('../img/run.png');
}

.Hike{
	background-image: url('../img/hike.png');
}

#photos {
	margin-left: 18%;
}

.logout{
	width:70px;
	opacity: 0.6;
}
.logout:hover{
	opacity: 0.8;
}

.act_pic:hover{
	width:200px;
}

.start {
	font-style: italic;
}

.profileLink {
	text-decoration: none;
	text-align: center;
}

.profilePicc {
	width: 80px;
	height: 80px;
}
